{% extends 'layouts/base.html' %}

{% block header_imports %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block hero %}
    <section class="page-top-section set-bg" data-setbg="/img/page-top-bg/6.jpg">
        <div class="page-info">
            <h2>Gráficos</h2>
            <div class="site-breadcrumb">
                <a>Estatísticas</a> /
                <span>Gráficos</span>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}

{% endblock %}