{% extends 'layouts/base.html' %}

{% block hero %}
<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/1.jpg">
    <div class="page-info">
        <h2>Itens</h2>
        <div class="site-breadcrumb">
            <a>Itens</a> /
            <span>Salvar</span>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="games-single-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
                <h2 class="gs-title">Atualização de Itens</h2>
                <h4>Atualização concluída com sucesso</h4>
            </div>
        </div>
    </div>
</section>


{% endblock %}